.searchbar{
  width: 260px;
  margin: 0 auto;
}

 .mb-3 a {
  color: rgba($secondary, $alpha: 0.8);
  display: inline-flex;
  padding-left: 30px;
}


.card {
  margin: 0 auto;
  max-width: 650px;
}


.min-mx-post{
  min-width: 300px ;
  max-width: 500px ;
}

.muted-border {
  border:solid 1px rgba(0 0 0.175);
}

.text-blue{
  color: #8CB1F3;
}

.text-blue-muted {
  color: hsl(218, 81%, 85%);
}

#bannerID, #userPostsFeed{
  margin-top:65px;
}

.purple {
  color: #D3E1E3;
}
